{% extends 'default_frame.twig' %}


{% block main %}
        <div class="row" id="aside_wrap">
            <form role="form" name="form1" id="form1" method="post" action="" novalidate enctype="multipart/form-data">
                {{ form_widget(form._token) }}

                <div class="box accordion">
                    <div  class="box-header toggle">
                        <h3 class="box-title">Name<svg class="cb cb-angle-down icon_down"> <use xlink:href="#cb-angle-down" /></svg></h3>
                    </div><!-- /.box-header -->
                    <div id="free_box__body" class="box-body accpanel">
                        {{ form_widget(form.name) }}
                        {{ form_errors(form.name) }}
                    </div>
                    <div  class="box-header toggle">
                        <h3 class="box-title">latitude<svg class="cb cb-angle-down icon_down"> <use xlink:href="#cb-angle-down" /></svg></h3>
                    </div><!-- /.box-header -->
                    <div id="free_box__body" class="box-body accpanel">
                        {{ form_widget(form.latitude) }}
                        {{ form_errors(form.latitude) }}
                    </div>
                    <div  class="box-header toggle">
                        <h3 class="box-title">longitude<svg class="cb cb-angle-down icon_down"> <use xlink:href="#cb-angle-down" /></svg></h3>
                    </div><!-- /.box-header -->
                    <div id="free_box__body" class="box-body accpanel">
                        {{ form_widget(form.longitude) }}
                        {{ form_errors(form.longitude) }}
                    </div>
                    {% for f in form %}
                        {% if f.vars.eccube_form_options.auto_render %}
                            {% if f.vars.eccube_form_options.form_theme %}
                                {% form_theme f f.vars.eccube_form_options.form_theme %}
                            {% endif %}
                            {{ form_row(f) }}
                        {% endif %}
                    {% endfor %}

                    <div class="box-header toggle">
                        <button type="submit" class="btn btn-default btn-sm" id="add-button-submit">追加</button>
                    </div>
                </div>
            </form>
        </div>
{% endblock %}